<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">  
            <div class="form_group">
                <label for="name" class="sub_title">Full Name</label>
                <input type="text" name = "name" placeholder="Enter your Name" required>
            </div>
            <div class="form_group">
                <label for="name" class="sub_title">Email</label>
                <input type="email" name="email" placeholder="Enter your Email">
            </div>
            <div class="form_group">
                <label for="name" class="sub_title">Password</label>
                <input type="password" name="password" placeholder="Enter your Password">
            </div>
            <div id='btn-set'>
                <button  class="btn" type="submit">SIGN UP</button>
            </div>
    </form>

    </div>
    <div class="secondhalf">
        <div class="edit">
            <h1 style="color:rgb(255, 255, 255);">Hey There!</h1>
            <h2>Account, already?</h2>
                <div >
        <p><a href="/"><button class="btn-right">Log In</button></a></p>
</body>
</html>